
/*!
 * SAP UI HTML5 Rendering Library ('Phoenix')
 *
 * (c) Copyright 2009-2011 SAP AG. All rights reserved
 */

/*** RichTextEditor CSS - 'base' theme ***/
.defaultSkin {
	color: #000000;
	background-color:  #EAF1F6;
	font-family: Arial,Helvetica,sans-serif;
	font-size:  11px;
}

.sapUiRTE {
	display: inline-block;
}

html[dir=rtl] .sapUiRTE .defaultSkin table {
	direction: rtl;
}

/* Styling TinyMCE */
.sapUiRTE .defaultSkin table.mceToolbar {
	margin-right: 5px;
}

.sapUiRTE .defaultSkin .mceIcon,
.sapUiRTE .defaultSkin .mceSplitButton span.mceAction {
	background-image: url("icons.png");
}

/* bugfix for IE8 with certain zoom factors */
html[data-sap-ui-browser="ie8"] .sapUiRTE .defaultSkin .mceIcon.mce_undo {
	width: 19px;
	margin-left: 1px;
}
	
.sapUiRTE .defaultSkin table.mceLayout tr.mceFirst > td.mceFirst {
	background-color: #EAF1F6;
	border-top: 1px solid #93B2D0;
}

.sapUiRTE .defaultSkin td.mceIframeContainer {
	border-top: 1px solid #93B2D0;
}

.sapUiRTE .defaultSkin.mceEditor table.mceLayout {
	border-color: #93B2D0;
}

.sapUiRTE .defaultSkin table.mceLayout tr.mceLast td.mceLast {
	border-bottom: 1px solid #93B2D0;
}


.sapUiRTE .defaultSkin table.mceLayout tr.mceFirst td,
.sapUiRTE .defaultSkin table {
	background-color: transparent;
}
/*** RichTextEditor CSS - 'sap_ux' theme ***/
.sapUiRTE .defaultSkin table.mceLayout tr.mceFirst > td.mceFirst {
	background-color: #DCE7F0;
	background: -moz-linear-gradient(270deg, #EEF3F9, #D4E2ED);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEF3F9), to(#D4E2ED));
	border-top: 1px solid #BAD2E8;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#EEF3F9, endColorstr=#D4E2ED);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#EEF3F9, endColorstr=#D4E2ED);
}

.sapUiRTE .defaultSkin table.mceToolbar > tbody > tr > td {
	padding-left: 3px;
}

.sapUiRTE .defaultSkin td.mceIframeContainer {
	border-top: 1px solid #BAD2E8;
}

.sapUiRTE .defaultSkin.mceEditor table.mceLayout {
	border-color: #BAD2E8;
}

.sapUiRTE .defaultSkin table.mceLayout tr.mceLast td.mceLast {
	border-bottom:1px solid #BAD2E8;
}


/* Toolbar Buttons */
.sapUiRTE .defaultSkin .mceButton {
	border: 1px solid transparent;
}

/* hover */
.sapUiRTE .defaultSkin a.mceButtonEnabled:hover,
.sapUiRTE .defaultSkin table.mceSplitButtonEnabled:hover {
	border-color: #8BA9C7;
	border-width: 1px;
	border-style: solid;
	background: -moz-linear-gradient(270deg, #FFF, #DCE7F1, #BED1E2);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#BED1E2), color-stop(.5,#DCE7F1));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#BED1E2);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#BED1E2);
	box-shadow:inset 0 -1px 1px rgba(255,255,255,50);
	-moz-box-shadow:inset 0 -1px 1px rgba(255,255,255,50);
	-webkit-box-shadow:inset 0 -1px 1px rgba(255,255,255,50);
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

/* active */
.sapUiRTE .defaultSkin a.mceButtonActive,
.sapUiRTE .defaultSkin a.mceButtonActive:hover, 
.sapUiRTE .defaultSkin a.mceButtonSelected,
.sapUiRTE .defaultSkin a.mceButtonSelected:hover,
.sapUiRTE .defaultSkin table.mceSplitButtonSelected,
.sapUiRTE .defaultSkin table.mceSplitButtonSelected:hover {
	border-color: #748DA6;
	border-width: 1px;
	border-style: solid;
	background: -moz-linear-gradient(270deg, #B7CDDF, #D2E0EB, #D4E2EC);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B7CDDF), to(#D4E2EC), color-stop(.5,#D2E0EB));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#B7CDDF, endColorstr=#D4E2EC);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#B7CDDF, endColorstr=#D4E2EC);
	box-shadow:inset 0 -1px 1px rgba(255,255,255,50),inset 0 1px 1px #9EB8CE;
	-moz-box-shadow:inset 0 -1px 1px rgba(255,255,255,50),inset 0 1px 1px #9EB8CE;
	-webkit-box-shadow:inset 0 -1px 1px rgba(255,255,255,50),inset 0 1px 1px #9EB8CE;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

.sapUiRTE .defaultSkin .mceSeparator {
	background-image: url(img-RTL/separator.png);
	background-position:center;
}

.sapUiRTE .defaultSkin .mceSplitButton a.mceAction {
	border-width: 1px;
	border-style: solid;
}

.sapUiRTE .defaultSkin .mceSplitButton a.mceOpen,
.sapUiRTE .defaultSkin .mceSplitButton a.mceAction {
	border-color: transparent;
}

.sapUiRTE .defaultSkin table.mceSplitButton {
	border: 1px solid transparent;
}
.sapUiRTE .defaultSkin table.mceSplitButton.mceSplitButtonSelected {
	border: 1px solid #748DA6;
}


.sapUiRTE .defaultSkin table.mceSplitButtonEnabled:hover a.mceAction {
	border-color: transparent;
	border-left: 1px solid #8BA9C7;
	background-color: transparent;
}

.sapUiRTE .defaultSkin table.mceSplitButtonEnabled:hover a.mceOpen {
	border-color: transparent;
	background-color: transparent;
}

.sapUiRTE .defaultSkin table.mceSplitButtonSelected a.mceAction {
	border-color: transparent;
	border-left: 1px solid #8BA9C7;
	background-color: transparent;
}

.sapUiRTE .defaultSkin table.mceSplitButtonSelected a.mceOpen {
	border-color: transparent;
	background-color: transparent;
}

/* Toolbar ComboBoxes */

.sapUiRTE .defaultSkin .mceListBox  {
	border-color: #9B9C9D #B0B2B3 #B8BABB;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	box-shadow:0 1px 2px 0 #BBBCBF inset;
	-moz-box-shadow:0 1px 2px 0 #BBBCBF inset;
	-webkit-box-shadow:0 1px 2px 0 #BBBCBF inset;
	height: 16px;
}

/* Firefox gets the height wrong */
html[data-sap-ui-browser="ff3"] .sapUiRTE .defaultSkin .mceListBox,
html[data-sap-ui-browser="ff4"] .sapUiRTE .defaultSkin .mceListBox {
	height: 18px;
}

.sapUiRTE .defaultSkin .mceListBox .mceText {
	height: 17px;
	line-height: 15px;
}

.sapUiRTE .defaultSkin .mceListBox .mceOpen,
.sapUiRTE .defaultSkin .mceListBoxEnabled:hover .mceOpen {
	height: 17px;
	margin-left: 0;
	width: 19px;
	border: none;
	background-color: transparent;
	background-image: url("img-RTL/cmb.png");
	background-position:left top;
	background-repeat: no-repeat;
}

.sapUiRTE .defaultSkin .mceListBoxEnabled:hover .mceOpen {
	background-image:url("img-RTL/cmb_hov.png");
}

.sapUiRTE .defaultSkin .mceListBox .mceText,
.sapUiRTE .defaultSkin .mceListBox.mceListBoxEnabled:hover .mceText,
.sapUiRTE .defaultSkin .mceListBox.mceListBoxSelected .mceText {
	border: none;
	background-color: transparent;
}
	
.sapUiRTE .defaultSkin .mceListBox.mceListBoxEnabled:hover  {
	border-color: #4479AA;
}

.sapUiRTE .defaultSkin .mceListBox.mceListBoxSelected  {
	background-color: #FEF09E;
}
	

/* ListBox Menu */
.defaultSkin > .mceMenu.mceListBoxMenu {
	border-color: #9B9C9D #B0B2B3 #B8BABB;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:0 1px 2px 0 #BBBCBF inset;
	-moz-box-shadow:0 1px 2px 0 #BBBCBF inset;
	-webkit-box-shadow:0 1px 2px 0 #BBBCBF inset;
}

.defaultSkin .mceMenu.mceListBoxMenu tr.mceFirst td.mceMenuItemTitle a {
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}

.defaultSkin > .mceMenu > table {
	background:none repeat scroll 0 0 transparent !important;
	background-color: transparent;
}

.defaultSkin.mceListBoxMenu {
	box-shadow:0px 5px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0px 5px 12px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0px 5px 12px rgba(0, 0, 0, 0.5);
}

.defaultSkin.mce_forecolor,
.defaultSkin.mce_backcolor {
	background-color: transparent;
}

/* color pickers */
.defaultSkin div.mceColorSplitMenu.mceSplitButtonMenu  table {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border: 1px solid #96A8C3;
	padding: 4px;
	box-shadow:0px 5px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0px 5px 12px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0px 5px 12px rgba(0, 0, 0, 0.5);
}